<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class='flex logo'>
        <a href="/">
          {% include "colibri.njk" %}
        </a>
        <h1>
          Daniel Santarriaga - Blog
        </h1>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
{% set js %}
{% include "colibri.js" %}
{% endset %}
<script>
  {{ js | safe }}
</script>