---

title: Inicio - Daniel Santarriaga
layout: 'base.njk'
author: Daniel Santarriaga
description: Blog Personal

---

<main>
      
  <section class="hero">
    <div class="container flow">
        <div class="hero__content flow">
          <h2 class="section-title">Welcome to my blog!</h2>
          <p>Soy Daniel Santarriaga, amante de la informatica en general: Programación, Tecnologia y Videojuegos. </p>
          <p>Este espacio lo alimentare en escribir poco a poco cosas que me interesan, sin pensarlo tanto, lo que quiero es empezar a escribir más fluido y dejar fluir las ideas que en ocasiones quiero compartir a quien le interese.</p>
          {# <div class="flex-group">
            <a href="#featured-articles" class="btn btn--primary">Artículos interesantes</a>
            <a href="./blog" class="btn btn--neutral">Artículos Recientes</a>
          </div> #}
        </div>
        {# <div class='photo'>
          <img src="./assets/me.jpg" alt="" class="hero__image">
        </div> #}
    </div>
  </section>

  <section id="featured-articles" class="featured-articles">
    <div class="container flow">
      <h2 class="section-title text-center ">Blog</h2>
      <ul role="list" class="articles__list flow">
      {% for post in collections.post | reverse %}
        {% include "article-list-item.njk" %}
      {% endfor %}
      </ul>
    </div>
  </section> 
</main>


